<h1>Who Wants To Be A Millionaire?</h1>

<h2>Let's Play</h2>

<form class="" action="/name" method="post">
  What is your name?
  <input type="text" name="name" value="">
  <input type="submit" name="submit" value="submit">
</form>
